<p>Force est de constater que le taux de syndicalisation s'amoindrit d'année en année.</p>
<p>Ce phénomène est doublé d'un constat de vieillissement de la démographie syndicale. La CNT n’échappe pas à cette tendance.</p>
<p>Plusieurs processus sont à l'œuvre. Sans être exhaustif·ve·s, on peut citer:</p>
<ul>
<li>Une imprégnation accrue de <strong>l’individualisme et du consumérisme libéral</strong> qui recouvre plusieurs réalités de vécu individuel et collectif ;</li>
<li>De nouvelles générations peut-être moins soucieuses de s’organiser au sein d’organisations structurées, confédérales. La logique de réseau tend à s’imposer. Lorsque l’engagement est là, la jeunesse ne fait manifestement et massivement pas le choix du syndicalisme ;</li>
<li>Une <strong>précarisation générale du travail</strong>, de l'emploi venant à la fois insécuriser les parcours de vie et professionnel ;</li>
<li>Un <strong>morcellement de la densité des collectifs de travail</strong> dans le contexte évidemment de nos sociétés occidentales désindustrialisées ;</li>
<li>Les <strong>mutations du monde syndical</strong> entre clientélisme d’appareil, bureaucratisme, autoritarisme, carriérisme, permanentisme , cogestion, compromissions avec l’administration et le patronat, accompagnement des réformes gouvernementales, perte de culture de classe, et juridisme ;</li>
<li>Une <strong>pression accrue exercée sur les travailleuses et les travailleurs</strong>, une réduction du droit du travail et du droit syndical, une accélération de la mutation des droits sociaux inhérentes aux lois successives :
<ul>
<li>Loi sur la représentativité portant rénovation de la démocratie sociale et réforme du temps de travail (2008),</li>
<li>Loi relative au dialogue social et à l'emploi (2015 – Rebsamen),</li>
<li>Loi Macron (2015), Loi travail (2016 – El Khomri),</li>
<li>Loi Macron 2 (2018) ;</li>
</ul></li>
<li>Une généralisation de la <strong>méfiance sur la récupération bureaucratique</strong> des organisations ;</li>
<li>Les stratégies syndicales des grandes centrales syndicales majoritaires qui ont porté à l'échec les grands mouvements nationaux de ces trente dernières années. Entre négociation, compromission, cogestion étalement des journées de grève et de manifestation sans réel appel à la reconduction.</li>
</ul>
<p>Bien sûr, sans vouloir <em>s’autoflageller</em> outre mesure, il faut ajouter à cela une difficulté de la CNT à se développer numériquement, à trouver une voie propice à fédérer plus.</p>
<p>Depuis une trentaine d’années, notre Confédération a connu des évolutions notables.</p>
<p>Entre crises de fond sur des questionnements identitaires et stratégiques de l’Anarcho-syndicalisme et du Syndicalisme révolutionnaire (crises /scissions de 1993 et 2014, exclusion de l’AIT et reconstruction des liens internationaux Noirs et Rouges), refonte de ses statuts (2008), et adaptations contraintes aux évolutions législatives du droit syndical (Loi de 2008 notamment).</p>
<p>La CNT a ainsi connu beaucoup d’adaptations et de changements favorables, mais aussi de lourdes secousses plus dommageables, au cœur d’un monde qui bouge vite, très vite.</p>
<p>Les buts de la CNT, résolument révolutionnaires, supposent l’intégration de tous les travailleurs et toutes les travailleuses pour asseoir la force du nombre, le faire ensemble, et plus tard, le faire société. Sans pour autant renoncer à <strong>l’éthique</strong>, plusieurs lignes d'attaques sont aujourd'hui nécessaires à la CNT pour assurer ce développement numérique.</p>
<p>Il est temps de se donner les moyens de réflexion pour grossir, assurer une meilleure syndicalisation, notamment des plus jeunes. Nous sommes convaincu·e·s que les atouts actuels du modèle syndical proposé par la CNT peuvent non seulement intégrer de <strong>multiples sensibilités militantes</strong>, mais aussi constituer une véritable alternative vers un <strong>autre futur, un projet global, collectiviste, et libertaire</strong>.</p>
<p>Sans avoir la prétention d’être exhausti·f·ve·s, persuadé·e·s que nos camarades auront beaucoup d’autres idées à suggérer, et sans injonction aucune, nous proposons déjà la mise en œuvre des orientations suivantes visant à favoriser la syndicalisation :</p>
<h1 id="le-syndicalisme-pour-lutter-contre-lisolement-contre-lexploitation-contre-lindividuation-et-lindividualisation-libérale.">Le syndicalisme pour lutter contre l'isolement, contre l’exploitation, contre l'individuation et l’individualisation libérale.</h1>
<p>Par nature, le syndicalisme est l'expression du <strong>faire ensemble</strong>, de la collectivisation des questions, de la solidarité, de la sociabilité, de la lutte contre l'isolement et la précarité.</p>
<p>Différents mouvements récents (Gilets Jaunes, Nuit Debout, ZAD...) nous montrent que les populations précarisées, révoltées, en lutte, sont en recherche de liens forts. Le déclin du collectif, l’érosion des solidarités, la violence de l’économie libérale entraînent une atomisation des parcours de vie et isole<span class="modif_rouge">nt</span> les personnes.</p>
<p>Non content d’être un outil de lutte, <strong>le syndicat doit aussi pouvoir développer le sens du collectif, de la solidarité, de l’entraide, et de la sociabilité</strong>.</p>
<p>Le syndicat peut dès lors être à l’origine de caisses de soutien, de coopératives de producteur<span class="modif_rouge">·ices</span> et de consommateurs<span class="modif_rouge">·ices</span> visant à réduire les coûts et favoriser, dans l’esprit révolutionnaire et écologiste qui nous anime, les <strong>circuits courts</strong>.</p>
<p>Nous préconisons donc que ses activités soient autant que possible <strong>inclusives</strong> pour permettre et faciliter l’implication de ses adhérent·e·s.</p>
<p><strong>La transmission de savoir et la formation participent de ce partage de connaissances</strong> en ce qu’ils contribuent à l’appropriation des échanges et à la participation de toutes et tous à notre cadre démocratique de décisions.</p>
<p>Cette qualité du syndicalisme doit ici être rappelée sans cesse : <strong>Ne reste pas seul·e face à ton exploiteu·r·euse</strong></p>
<h1 id="promouvoir-le-développement-de-vecteurs-culturels-proches-des-luttes-ou-soutenant-la-conscience-et-la-culture-de-classe">Promouvoir le développement de vecteurs culturels proches des luttes ou soutenant la conscience et la culture de classe</h1>
<p>La création culturelle joue depuis toujours un rôle majeur dans l’œuvre de sensibilisation, d’émancipation, et de partage du milieu libertaire notamment.</p>
<p>De la littérature au graphisme, la musique, la production vidéo et cinématographique, etc. le vecteur culturel favorise la transmission du message révolutionnaire, la prise de conscience, la politisation des inquiétudes.</p>
<p>Tantôt initiatrice de révolte, tantôt en soutien aux luttes, la culture est un axe essentiel de notre force de lutte.</p>
<p>La CNT soutient et initie des productions culturelles.</p>
<h1 id="le-parrainage-et-le-marrainage-syndical-comme-daccompagnement-des-nouveauxelles-syndiquées">Le parrainage et le marrainage syndical comme d’accompagnement des nouve·aux·elles syndiqué·e·s</h1>
<p>Chaque personne approchant la CNT ou souhaitant se syndiquer doit pouvoir bénéficier d'un accueil adapté à ses besoins, être soutenue dans son intégration au syndicat techniquement comme humainement, être accompagnée dans la compréhension de la prise en main des outils syndicaux ou dans ses facultés de participation et de contribution au cadre démocratique interne.</p>
<p><strong>Le parrainage, ou marrainage, peut-être ici une solution à un accompagnement personnalisé</strong>, plus facilité, pour les personnes face à la dimension collective parfois difficile à appréhender selon le caractère de chacun<span class="modif_rouge">e</span>. Il permet aussi à la personne de décrypter de façon plus personnalisée, plus discrète, moins stigmatisant<span class="modif_rouge">e</span>, le syndicat et son fonctionnement.</p>
<h1 id="instruire-pour-révolter-une-démarche-déducation-populaire-de-formation-démancipation-et-de-prise-de-confiance-en-soi"><strong>Instruire pour révolter</strong> : une démarche d’éducation populaire, de formation, d’émancipation et de prise de confiance en soi</h1>
<p>Partout où c'est possible, <span class="modif_rouge">particulièrement dans les quartiers populaires et les déserts ruraux</span>si elle ne le fait pas déjà , la CNT développe des espaces d’accueil, des collectifs, des projets collectifs, de politisation des inquiétudes, de sociabilité pour les populations en recherche d'alternatives ou d'organisation des luttes.</p>
<p>Ses militant<span class="modif_rouge">·es</span>s développent sur de multiples supports, des outils de formation, de conscientisation, et d'instruction : formation théorique, pratique, mise en situation, théâtre, supports culturels, etc. <strong>Forger la conscience de classe dans la lutte et la compréhension du monde capitaliste est le socle de la révolte et de l’engagement</strong>.</p>
<p>Renforcer la confiance en soi, <strong>la connaissance, l’autonomie, et le sens de l’action collective et solidaire</strong> conforte le/la militant.e dans ses choix, ses capacités à agir.</p>
<h1 id="fédéralisme-démocratie-directe-indépendance-autogestion-projet-de-transformation-sociale-globale-mettre-en-avant-la-singularité-de-la-cnt">Fédéralisme, démocratie directe, indépendance, autogestion, projet de transformation sociale globale : mettre en avant la singularité de la CNT</h1>
<p>Il conviendra de mettre en avant notre <strong>indépendance et notre cadre démocratique et fédéraliste d'organisation</strong>, notre modèles de syndicalisme entre indépendance, incorruptibilité, insaisissabilité par le pouvoir, combativité, adaptabilité aux formes de luttes diversement rencontrées.</p>
<p>L'alliance du syndicalisme révolutionnaire et de l'anarcho-syndicalisme, tous deux forces de propositions complémentaires et synergiques, sont les garanties de pouvoir intégrer des sensibilités multiples sans exclure la multiplicité des formes d'actions.</p>
La prise en compte des <strong>enjeux écologique, anti<del>sexistes</del><span class="modif_rouge">patriarcaux</span></strong>...
<p>Ces principes fondateur de la CNT doivent apparaître aux yeux des nouve·au·lle·s adhérent·e·s pas seulement comme des principes, mais doivent être concrétisés par des actions et des choix internes comme externes.</p>
<p>voir motions portant sur le sujet:</p>
<ul>
<li><span data-role="ref">motion_1_2021_ste33</span></li>
<li><span data-role="ref">motion_23_2021_stt59_62</span></li>
<li><span data-role="ref">motion_24_2021_ste33_cnt42</span></li>
</ul>
<h1 id="moyens_com_motion_11_2021">Le développement d'outils de communication et de propagande adaptés et assimilables par les nouvelles générations</h1>
<p>En ce qui concerne la voix confédérale, le secteur propagande joue un rôle majeur. Ses productions jouent un rôle central dans la propagation des idées, dans la construction de la conscience de classe, et dans la désignation des enjeux de la lutte. Les communications électroniques et les réseaux sociaux se sont généralisées. Ces nouvelles technologies amènent avec elles de nouveaux enjeux auxquels la CNT n’est évidemment pas indifférente : la multiplication et l’immédiateté de l’accès aux sources d’information enrichit autant qu’elle trouble la communication et le message. Elle favorise la participation et les liens tout comme elle renforce l’individualisme et le consumérisme. Les réseaux sociaux majoritaires sont <strong>orchestrés par des firmes propriétaires</strong> à la solde des <span class="modif_rouge">É</span>tats. La sécurité des échanges et des données deviennent un enjeu majeur de protection des libertés individuelles et collectives.</p>
<p>Sans vouloir donc glorifier ici ce nouveau modèle de communication, les syndicats de la CNT doivent toutefois en pouvoir prendre la mesure pour être présents sur les réseaux sociaux avec la vigilance qui s’impose.</p>
<p>Les jeunes générations sont de moins en moins perméables au tract papier traditionnel et utilisent de plus en plus le texte électronique court, la vidéo, la photo. Les réseaux sociaux, les sites web et autres blogs, les plateformes collaboratives, sont donc autant de supports à investir.</p>
<p>Si la Confédération n’a pas de stratégie d’ensemble sur la communication et la propagande électronique, les syndicats doivent pouvoir multiplier les expériences, <strong>soutenir les alternatives libres</strong>, et les mutualiser entre eux.</p>
