{# couleurs #}
{# http://www.w3schools.com/colors/colors_hsl.asp #}
{# rouge #}
.modif_rouge {background-color:hsl(7, 100%, 43%);}
{# vert #}
.modif_vert {background-color:hsl(129, 89%, 45%);}
{# jaune #}
.modif_jaune {background-color:hsl(61, 96%, 65%);}

.rouge {background-color:hsl(7, 100%, 43%);}
{# vert #}
.rajout_vert {background-color:hsl(129, 89%, 45%);}
.vert {background-color:hsl(129, 89%, 45%);}
{# vert #}
.vert {background-color:hsl(129, 89%, 45%);}
.jaune {background-color:hsl(61, 96%, 65%);}

p.gras {
  font-weight: bold;
}
