<div class="index">
<p>pair: Motion 10 ; 2021</p>
</div>
<h1 id="motion_10_2021_etpic30">Motion <strong>n°10</strong> 2021: <strong>Lutte pour l’égalité des sexes - contre le sexisme, le patriarcat, l’homophobie</strong> par <strong>ETPIC 30</strong></h1>
<p>Autres motions ETPIC30</p>
<blockquote>
<ul>
<li><span data-role="ref">motions_etpic30</span></li>
</ul>
</blockquote>
<h2 id="titre-complet">Titre complet</h2>
<p>Lutte pour l’égalité des sexes - contre le sexisme, le patriarcat, l’homophobie &amp; mandatement de la Commission Confédérale antisexiste et antipatriarcale pour l’égalité et l’équité.</p>
<h2 id="argumentaire">Argumentaire</h2>
<p>La CNT groupe des travailleurs et des travailleuses conscient·e·s de la lutte à mener contre toutes formes de discriminations et d’oppressions économiques et sociales en lien avec le sexe, le genre, ou les orientations sexuelles.</p>
<p>Par-delà la lutte contre l’exploitation capitaliste, la CNT fait le constat de la persistance du patriarcat, du sexisme et des atteintes qui en découlent, qu’elles soient physiques, sexuelles, matérielles, ou morales.</p>
<p>Les femmes et les personnes LGBT+, comptent encore et toujours, et très majoritairement, parmi les personnes plus touchées.</p>
<p>Ainsi, et de prime abord, les militant·e·s de la CNT déclarent veiller à garantir autant que possible à ses membres un soutien, une protection, et une défense contre tous les agissements discriminatoires et les agressions sexistes et sexuelles, individuels ou collectifs, susceptibles de leur porter atteintes.</p>
<p>La formation et l’accueil des nouveaux et nouvelles syndiqué·e·s intègrent cette information et présentent cette volonté.</p>
<p>Dans l’œuvre revendicative quotidienne, la CNT poursuit la coordination des efforts, la réalisation d’améliorations immédiates et la sensibilisation de tou·te·s à la poursuite de la lutte pour l’égalité homme/femme.</p>
<p><strong>L’égalité des sexes ne peut se réaliser que par lutte contre le capitalisme et son inclinaison patriarcale</strong>.</p>
<p>Ainsi, la CNT soutient la lutte pour la suppression des discriminations sexistes dans les domaines :</p>
<ul>
<li>Économiques : pour l’égalité salariale, pour l’égalité devant la retraite incluant les compensations propres au temps de congés maternité et au temps partiel subi, pour l’accès au logement, pour des prix des produits et des services non genrés ;</li>
<li>Sanitaires et sociaux : pour le recours libre et gratuit à l’IVG, à la contraception, à l’écoute psychologique, aux soins gynécologiques, aux produits d’hygiène.</li>
<li>De la vie quotidienne : oppressions, exclusions, violences, agressions sexuelles, injures</li>
<li>Juridique : outre l’assistance et le conseil juridique des victimes déclarées et plaignant·e·s, les syndicats de la CNT verront à intégrer dans leurs statuts respectifs la question de la lutte contre les discriminations pour leur permettre de se porter le cas échéant partie civile.</li>
</ul>
<p>Pour être à la hauteur des enjeux de lutte antisexistes et anti-patriarcales, la CNT prolonge les travaux de sa <strong>Commission antisexiste</strong> qu’elle renomme <strong>Commission confédérale antisexiste et anti patriarcale pour l’égalité et l’équité</strong>.</p>
<h2 id="une-commission-de-travail-mixte-source-de-propositions-et-de-conseils">Une Commission de travail mixte source de propositions et de conseils</h2>
<p>À l’image des syndicats qu’elle sert et qui la mandatent, du projet révolutionnaire porté par la Confédération, et dans une logique inclusive de toutes les forces disponibles et candidates, la Commission confédérale antisexiste et anti patriarcale est mixte.</p>
<p>Cette Commission est invitée à produire un bulletin interne à la CNT de réflexion et d’information en lien avec ses travaux, ses recherches, et ses rencontres.</p>
<p>Elle réfléchit avant tout à l’édition d’un matériel spécifique (affiches, autocollants, brochures) qu’elle proposera à la Confédération en vue d’actions ciblées, nationales, internationales en lien avec l’actualité.</p>
<p>Elle étudiera de même les propositions émanant des syndicats et leurs Unions.</p>
<p>La CNT charge donc la Commission confédérale antisexiste et anti patriarcale pour l’égalité et l’équité de:</p>
<ul>
<li>faire des préconisations pour améliorer l’accès aux droits des femmes plus particulièrement dans leurs combats contre la violence, la précarité et l’isolement ;</li>
<li>proposer du matériel spécifique de lutte et des campagnes confédérales ;</li>
<li>proposer du matériel de sensibilisation, et de réflexion ;</li>
<li><p>Réaliser des études visant à éclairer les syndicats des phénomènes et processus sociologiques, économiques, et sociaux à l’appui de recherches théoriques, d’enquêtes , de sondages, et de témoignages ;</p>
<p>Pour soutenir ses travaux, la Commission peut être amenée à proposer la non mixité qui permet notamment, entre personnes du même genre de libérer et de se réapproprier la parole, d’éviter la remise en question du vécu, de gagner du temps et de déterminer des priorités, etc. La non mixité est vue ici comme un moyen ou un outil, non comme une finalité ;</p></li>
<li>proposer des éclairages et des moyens de créer des liens avec d’autres organisations en lutte pour l’égalité des sexes et contre les violences sexistes.</li>
</ul>
<h2 id="concernant-les-problématiques-dagressions-sexistes-et-sexuelles-dans-et-en-dehors-de-la-cnt">Concernant les problématiques d’agressions sexistes et sexuelles dans et en dehors de la CNT</h2>
<p>Si la Commission peut recueillir la parole, sur les différentes problématiques rencontrées, elle n’a pas pour vocation de se <strong>poser en juge</strong>.</p>
<p>En l’état de son développement, la CNT ne dispose d’aucun moyen suffisant pour conduire des investigations.</p>
<p>À leurs demandes, la Commission peut conseiller les syndicats dans leurs luttes pour l’égalité des sexes, sur les difficultés qu’ils pourraient rencontrer en terme de discriminations, voire d’agressions sexuelles ou sexistes, en interne comme en externe.</p>
<p>Elle peut émettre dans ce dernier cas un avis consultatif.</p>
<h2 id="amendements">Amendements</h2>
<ul>
<li><span data-role="ref">amendements_motion_10_2021_sanso69</span></li>
<li><span data-role="ref">amendement_motion_10_2021_interpro07</span></li>
<li><span data-role="ref">amendement_motion_10_2021_sipmcs</span></li>
<li><span data-role="ref">amendement_motion_10_2021_ste72</span></li>
</ul>
<h2 id="contre-motions">Contre motions</h2>
<ul>
<li><span data-role="ref">contre_motion_10_2021_cnt42</span></li>
<li><span data-role="ref">contre_motion_10_2021_ste75_partie_1</span></li>
<li><span data-role="ref">contre_motion_10_2021_ste75_partie_2</span></li>
<li><span data-role="ref">contre_motion_10_2021_ste75_partie_3</span></li>
</ul>
<h2 id="votes">Votes</h2>
<table>
<colgroup>
<col style="width: 31%" />
<col style="width: 13%" />
<col style="width: 11%" />
<col style="width: 13%" />
<col style="width: 29%" />
</colgroup>
<thead>
<tr class="header">
<th>Nom</th>
<th>Pour</th>
<th>Contre</th>
<th>Abstention</th>
<th>Ne prend pas part au vote</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Motion n°10 2021 ETPIC30</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td>Décision du congrès</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
